/* adapted from Eric Meyer's reset
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles */

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

img {
  border: #1b1b1b solid 4px;
  background-color: #262626;
  padding: 1px;
  box-shadow: inset -1px -1px 2px #080808;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

thead, tr {
  height: 1.5em;
}

table,
table thead,
table thead th, 
table tbody,
table tbody tr {
	width: 100%
}

table tbody tr:nth-child(odd) td a, .favourite:nth-of-type(odd) a, .this, div ul li:nth-child(odd) a{
color: #4686ff;
}


body {
  background-color: #000;
  background-image: url("../images/background1.png");
  font-family: courier;
}

#container {
  margin: 20px;

}

header, section, footer {
  width: 100%;
  float: left;
}

header {
  margin-bottom: 20px;
}

header div form select{
  position: relative;
  top: 1.5em;
}

section header{
  padding-left: 16%;
}

h1, h2, blockquote, a, p, td, tr, dt, dd, select, label {
  color: #2c75ff;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  text-shadow: #080808 -1px -2px 1px, #080808 1px 2px 1px;
}


h1, h1 a {
  font-family: 'Monoton';
  color: #1364ff;
  font-size: 4rem;
}

section h1{
	color: #4686ff;
	font-size: 3rem;
}

.widget h1{
  color: #1364ff;
  font-size: 2rem;

}

.widget {
	margin-bottom: 40px;
}



h2, th, dt, span, label {
  font-weight: 700;
}

h2, blockquote, a, p, td, tr, dt, dd, select, label {
  font-size: 1rem;

}

a, a h2, a p {
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  -o-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition: 0.125s linear 0s;
  -moz-transition: 0.125s linear 0s;
  -o-transition: 0.125s linear 0s;
  transition: 0.125s linear 0s;
}

a:hover, a h2:hover, a p:hover, table tbody tr:nth-child(odd) td a:hover {
  color: #2cdfff;
  text-shadow: -1px 1px 10px #c6f6ff, 1px -1px 10px #c6f6ff;
}

nav a {
  display: block;
}

input, textarea { 
  color: #ffffff;
  font-family: 'Play'; 
  background-color: #262626; 
  border-top: solid 2px #181818; 
  border-left: solid 2px #181818; 
  border-bottom: solid 2px #262626; 
  border-right: solid 2px #262626; 
  -moz-box-shadow:inset 0 0 10px #181818; 
  -webkit-box-shadow:inset 0 0 10px #181818; 
  box-shadow:inset 0 0 10px #181818; 
  width: 14em;
  text-shadow: #000 0px -1px 0px;
  margin-bottom: 1em;
}

textarea { 
  height: 12em;
}

input { 
  height: 2em;
}

.button, table tbody tr:nth-child(odd) td a.button { 
  color: #ffffff;
  font-family: 'Play'; 
  text-align: center; 
  height: 2em;
  width: 14em;
  text-shadow: #080808 -0px -1px 0px;
  border-radius: 1em;
}

.button:hover{
  color: #ffffff;
  text-shadow: -1px 1px 10px #c6f6ff, 1px -1px 10px #c6f6ff;
  box-shadow: -1px 1px 10px rgba(255, 255, 255, 0.2), 1px -1px 10px rgba(255, 255, 255, 0.2);
}

.blue {
  background-color: #2c75ff; 
  border-top: solid 2px #5f96ff; 
  border-left: solid 2px #5f96ff; 
  border-bottom: solid 2px #004de0; 
  border-right: solid 2px #004de0; 
  -moz-box-shadow:inset 0 0 10px #0056f8;
  -webkit-box-shadow:inset 0 0 10px #0056f8; 
  box-shadow:inset 0 0 10px #0056f8;
}

.blue:active {
  border-top: solid 2px #004de0; 
  border-left: solid 2px #004de0; 
  border-bottom: solid 2px #5f96ff; 
  border-right: solid 2px #5f96ff;   
}

.pink {
  background-color: #ff2c75;
  border-top: solid 2px #ff79a7; 
  border-left: solid 2px #ff79a7; 
  border-bottom: solid 2px #f80056; 
  border-right: solid 2px #f80056; 
  -moz-box-shadow:inset 0 0 10px #ff1364;
  -webkit-box-shadow:inset 0 0 10px #ff1364; 
  box-shadow:inset 0 0 10px #ff1364;
}

.pink:active {
  border-top: solid 2px #f80056; 
  border-left: solid 2px #f80056; 
  border-bottom: solid 2px #ff79a7; 
  border-right: solid 2px #ff79a7;   
}
.orange {
  background-color: #FF6600; 
  border-top: solid 2px #FF9B5A; 
  border-left: solid 2px #FF9B5A; 
  border-bottom: solid 2px #B54901; 
  border-right: solid 2px #B54901; 
  -moz-box-shadow:inset 0 0 10px #b34700;
  -webkit-box-shadow:inset 0 0 10px #b34700; 
  box-shadow:inset 0 0 10px #b34700;
}

.orange:active {
  border-top: solid 2px #B54901; 
  border-left: solid 2px #B54901; 
  border-bottom: solid 2px #FF9B5A; 
  border-right: solid 2px #FF9B5A;   
}

.navbar, .logo {
  height: 120px;
  float: left;
}

.logo {
  background-image: url('../images/es.svg');
  background-repeat: no-repeat;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.nav, .ta-right{
  text-align: right;
}


.outer {
  width: 16%;
  float: left;
}

.inner {
  width: 68%;
  float: left;
}

.inner-small {
  width: 51%;
  float: left;
}

.fifth {
  width: 20%;
  float: left;
}

.third {
  width: 33%;
  float: left;
}

.half {
  width: 50%;
  float: left;
}

.two-thirds {
  width: 66%;
  float: left;
}

.whole {
  width: 100%;
  float: left;
}

.external {
	width: 60px;
	display: inline;
	margin: 0 10px;
  border-radius: 30px;
  background-color: #262626;
}

.external:hover{
  background-color: #212121;  
}

.music {
  padding: 5px 0px 0px 20px;
}
.music img {
  width:60px;
}

.artwork {
	width: 90%;
	height: 90%;
}

.player{
  position: fixed;
  left: 10px;
  bottom:0px;
  height:60px;
  width:100%;
  padding-left: 16%;
  -webkit-animation: reveal 2s;
  -moz-animation:    reveal 2s;
  -o-animation:      reveal 2s;
  -animation: reveal 2s;
}

.track{
  position: fixed;
  left: 330px;
  bottom:0px;
  height:60px;
  width:100%;
  padding-left: 16%;
  -webkit-animation: reveal 2s;
  -moz-animation:    reveal 2s;
  -o-animation:      reveal 2s;
  -animation: reveal 2s;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#080808;
   border-image: url('../images/border.png') 9 0 0 0 repeat;
   border-width: 9px 0px;
    -webkit-animation: show 2s;
    -moz-animation:    show 2s;
    -o-animation:      show 2s;
    -animation: show 2s;
}

@-webkit-keyframes show {
  from {
    height: 0px;
  }
  to {
    height: 80px;
  }
}
@-moz-keyframes show {
  from {
    height: 0px;
  }
  to {
    height: 80px;
  }
}
@-o-keyframes show {
  from {
    height: 0px;
  }
  to {
    height: 80px;
  }
}
@keyframes show {
  from {
    height: 0px;
  }
  to {
    height: 80px;
  }
}

@-webkit-keyframes reveal {
  from {
    height: 0px;
  }
  to {
    height: 60px;
  }
}
@-moz-keyframes reveal {
  from {
    height: 0px;
  }
  to {
    height: 60px;
  }
}
@-o-keyframes reveal {
  from {
    height: 0px;
  }
  to {
    height: 60px;
  }
}
@keyframes reveal {
  from {
    height: 0px;
  }
  to {
    height: 60px;
  }
}

footer.hide {
  display: none;
}


@media all and (max-width: 57em){
  html {  
      font-size: 80%;
  }
}

@media all and (max-width: 45em){
  html {  
      font-size: 60%;
  }
}

@media all and (max-width: 33em){
  .outer, .inner, .inner-small, .fifth, .third, .half, .two-thirds {
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }
}
.twitter_status{

height:60px;
padding:6px;
border-bottom:solid 1px #DEDEDE;

}
.twitter_image{

float:left;
padding-right:14px;
width:50%;
height:50px;

}
.twitter_posted_at{
padding-top:4px;
}