*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #000;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}

section {
	float: left;
	width: 576px;
}

#container {
	width: 960px;
	margin: 10px auto;
}

img {
    width: 100%;
}

.logo, .masthead, .searchbar, .login {
	float: left;
	height: 192px;
}

.logo, nav {
	width: 192px;
}

.masthead{
	width: 576px;
	padding: 18px;
}

.searchbar {
	padding-top: 18px;
}

.login {
	padding: 18px 4px;
}

.searchbar, .login {
	width: 96px;
}

input {
	width: 96px;
	padding-top: 12px;
}

section > header {
	float: left;
	width: 576px;
	height: 54px;
	padding: 9px;
}

section > header > h1, section > input {
	display: inline;
}
nav {
	float: left;
	padding-top: 54px;
}

nav button {
	display: block;
	width: 190px;
}

#main {
	float: left;
	width: 576px;
	height: 288px;
}

#widget {
	float: left;
	width: 192px;
	height: 342px;
}
#artwork {
	float: left;
	width: 192px;
	margin-top: 54px;
}

audio {
	padding: 9px;
}

.small-user {
	width: 54px;
}

table {
	padding: 9px;
}

th, td {
	width: 108px;
	text-align: left;
}

th:last-of-type, td:last-of-type {
	width: 180px;
}